body{
    background-color:white;
    color: black;
    size-adjust : 50%;
    size: 50px;
}
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: first baseline;
    padding: 15px;
    list-style-type: 10%;
    font-size: x-large; 
   background-color: green;
}
a {
    color: white;
    text-decoration: underline;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
    
}
.center {
    text-align: center;
    padding-block-start: 5%;
}
h1 {
    text-align: center;
}

nav a:hover{
    color:black
    
}
.container {}

header{
    font-size: x-large;
}
